<!DOCTYPE html>
<html>
<head>
    <title>Link Not Found</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body class="bg-light">

    <div class="container text-center mt-5">

        <div class="card shadow p-5">

            <h1>😕 Oops!</h1>

            <h4 class="mb-4">
                This short URL doesn't exist.
            </h4>

            <a href="/" class="btn btn-primary">
                Go Back Home
            </a>

        </div>

    </div>

</body>
</html>